$logo-color: #3D246C;
$button-hover-color: #380202;
$nav-hover-color: #70589e;
$logo-text-color: #ffffff;
$default-text-color:#556070;
$header-text-color:#000000;
$card-border-color: rgb(235, 233, 233);
$body-font-size: 16px;
$header-font-size: 24px;
$big-font-size:30px;
$card-text-font-size: 14px;
$card-title-font-size: 18px;
$card-text-color:rgb(212, 212, 212);
